
.card {
   position: relative;
   height: 100vh;
   width: 50%;
   overflow: hidden;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.info {
   width: 100%;
   background: rgba(0, 0, 0, 0.543);

   color: white;


   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   padding: 30px 40px;
}

.first {
   width: 100%;
}

h2, h3, p {
   margin: 0;
   padding: 0;
}

h2 {
   margin-top: 0;
   font-size: 3rem;
   line-height: 1;
}

h3 {
   color: rgb(218, 218, 218);
   margin: 10px 0;
}

p {
   font-size: 1.2rem;
}